<div class="container w-50 text-center d-flex justify-content-between mb-3">
    <h1>Budgets</h1>
    <div class="buttons d-flex justify-content-end gap-2">
        <button class="btn btn-primary" (click)="open()">Create Budget</button>
        <a routerLink="/expenses" class="btn btn-outline-primary d-flex align-items-center">View Expenses</a>
    </div>
</div>

<hr class="container w-50">

<app-search [searchCategory]="category" (hideEvent)="hide($event)"></app-search>

<div class="card-grid container w-50" *ngIf="show">
    <app-budget *ngFor="let budget of budgets" [budget]="budget" (deleteBudgetEvent)="deleteBudget($event)"></app-budget>
</div>
